@import './css/colors.scss';

body {
  a {
    text-decoration: none;
    display: block
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: robotomedium, sans-serif;
    margin: 0
  }
  p {
    margin-bottom: 0
  }
  .container {
    width: 1100px;
    margin: 0 auto;
  }
  .banner_txt h2, .breadcrumbs span a, .client_slider .heading, .client_slider .heading h3, .contact_us .heading, .contact_us .heading h3, .footer .footer_block .footer_heading h4, .inner_content_heading h3, .partner_cele_box h4, .service_box .heading h3, .title h2, .who_are .heading {
    text-transform: uppercase
  }
  .client_slider .heading h3, .contact_us .heading h3, .title h2 {
    font-family: robotoblack, sans-serif
  }
  .banner_footer, .banner_txt, .banner_txt h2, .btn, .text-center, .title {
    text-align: center
  }
  .banner_txt, .search_box, header.afix {
    top: 0;
    left: 0;
    right: 0
  }
  .cols .col,
  .contact_tabs ul li,
  .form-control,
  .partner_cele_box,
  .search_box input,
  .signup .left_signup .desc {
    box-sizing: border-box
  }
  .clearfix {
    &:after,
    &:before {
      display: table;
      line-height: 0;
      content: "";
    }
    &:after {
      clear: both
    }
  }
  .btn {
    width: 180px;
    margin: 0 auto;
    border-radius: 60px;
    padding: 10px 20px
  }
  .title {
    margin-bottom: 40px;
    h2 {
      color: #2cc88f;
      padding-bottom: 30px;
      letter-spacing: 1px
    }
    span {
      color: #434856;
      font-size: 15px;
      line-height: 22px
    }
  }
  .client_slider .heading,
  .contact_us .heading {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 100
  }
  .cols {
    margin-left: -3%;
    .col {
      width: 30%;
      margin-left: 3%;
      float: left
    }
  }
  .form-control {
    border-radius: 3px;
    border: .5px solid #9b9b9b;
    padding: 12px 20px;
    width: 100%;
    font-size: 14px
  }
  .signup {
    margin: 0 auto;
    padding: 20px 0;
    .heading {
      padding: 10px 0 20px;
      text-align: center;
      color: #fff;
      letter-spacing: 2px;
      font-size: 18px;
      font-weight: 100;
      h3 {
        font-family: robotoblack, sans-serif;
        text-transform: uppercase;
        margin: 0;
      }
    }
    .left_signup {
      width: 75%;
      float: left;
      .left_thumnail {
        float: left;
        padding-right: 15px;
        img {
          max-width: 64px
        }
      }
      .desc {
        width: 100%;
        padding-left: 64px;
        p {
          margin: 0;
          font-size: 18px;
          color: #fff;
          font-weight: 100;
          letter-spacing: 1px;
          font-family: robotolight, sans-serif;
        }
      }
    }
    .right_signup {
      float: right;
      width: 25%;
      text-align: center;
      a {
        &.signup_btn {
          text-align: center;
          border-radius: 60px;
          padding: 10px 20px;
          font-size: 13px;
          width: 180px;
          border: 1px solid #fff;
          color: #fff;
          float: right;
          cursor: pointer;
        }
      }
    }
  }
  .cols4 {
    margin-left: -3%;
    .cols {
      width: 22%;
      float: left;
      margin-left: 3%
    }
  }
  .mobile_nav {
    display: none
  }
  .inner_content_heading, .service_btn {
    text-align: center
  }
  .inner_content_heading {
    h3 {
    color: #2cc88f;
    padding-bottom: 30px;
    font-family: robotoblack, sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
  }
  }
  .newslettersubscripe::-webkit-input-placeholder, .search_box input::-webkit-input-placeholder {
    color: #fff
  }
  .newslettersubscripe::-moz-placeholder, .search_box input::-moz-placeholder {
    color: #fff
  }
  .newslettersubscripe:-ms-input-placeholder, .search_box input:-ms-input-placeholder {
    color: #fff
  }
  .newslettersubscripe:-moz-placeholder, .search_box input:-moz-placeholder {
    color: #fff
  }
  .signup_bg {
    background: #1ca8dd
  }
  .signup .right_signup a.signup_btn:hover {
    color: #1ca8dd;
    background: #fff
  }
  #newsletter, #sendsubscription, #subscriptionMsg, .api-data .submenu, .lan-data, .loaderImg {
    display: none
  }
  .loaderImg {
    width: 15%;
    margin: 0 auto;
  }
  .req-msg {
    color: green;
    font-size: 14px
  }
  .module-data {
    overflow: hidden
  }
  .activeLi > a {
    background: #373b48
  }
  .contact_form .send_btn.send_new_btn, .newslettersubscripe, .send_new_btn {
    color: #fff;
    background: #1ca8dd
  }
  .side-add {
    top: 0 !important
  }
  .newslettersubscripe {
    border: none;
    border-bottom: solid 1px #ddd;
    width: 97%;
    outline: 0;

    &:focus, &:hover {
      outline: 0;
      border: none;
      border-bottom: solid 1px #ddd
    }
  }
  #PartnerForm .form-control {
    color: #fff
  }
  #sendsubscription.send_new_btn {
    color: #1ca8dd;
    background: #fff
  }
  #sendsubscription:hover {
    color: #fff;
    background: #1ca8dd
  }
  #sendsubscription.send_new_btn:hover {
    color: #1ca8dd;
    background: #fff
  }
  @media (max-width: 1150px) {
    .container {
      width: auto;
      padding: 0 15px
    }
    .kudoo-app header .container {
      width: auto;
      padding: 0 15px;
    }
  }
  @media (min-width: 768px) and (max-width: 979px) {
    .system_block .system_artical ul li {
      width: 31%
    }

    .certificate_block {
      padding: 0
    }

    .signup {
      width: auto !important
    }

    .home_banner {
      background-position: 0 -50px !important
    }

    .header .nav .menus ul li.parter_menu a {
      padding: 6px 20px
    }

    .header .nav .menus ul li {
      margin-left: 20px
    }

    .service_box .description img {
      max-width: 100%
    }

    .signup .left_signup .desc p {
      margin: 0;
      font-size: 15px
    }

    .signup .right_signup a.signup_btn {
      width: auto
    }

    .signup .right_signup {
      width: 25%
    }

    .cols4 .cols {
      width: 30%;
      float: left;
      margin-left: 3%
    }

    .partner_cele_box {
      width: 30%
    }

    header .logo a img {
      max-width: 160px !important;
      margin: 6px 0 0
    }

    .newslettersubscripe {
      width: 95% !important
    }
  }
  @media (max-width: 767px) {
    .benefits, .header .nav .menus ul li.parter_menu, .signup .right_signup {
      text-align: center
    }

    .system_block .system_artical ul li {
      width: 48%
    }

    .service_box {
      margin: 10px !important;
      min-height: inherit;
      margin-bottom: 20px;
    }

    .contact_tabs ul li a {
      font-size: 13px
    }

    .certificate_block {
      padding: 0
    }

    .signup {
      width: auto !important
    }

    .footer_block ul {
      min-height: 130px
    }

    .contact_us .contact_form {
      width: auto
    }

    header .logo a img {
      max-width: 140px !important
    }

    .header .nav {
      float: none;
      display: block;
      clear: both;
      .menus.signin ul li {
        margin-left:0;
      }
    }

    .home_banner {
      height: 420px;
      background-position: 0 0 !important;
      .banner_txt {
        padding-top: 60px;
      }
    }

    .partner_cele_box {
      width: 200px;
      display: block;
      min-height: inherit;
      margin: 0 auto 20px
    }

    .cols .col, .contact_us {
      width: auto
    }

    .product_box {
      padding: 0 30px;
      margin-bottom: 40px
    }

    .partner_section .title {
      padding: 40px
    }

    .partner_section .title br {
      display: none
    }

    .partner_benefits .benefits {
      float: none
    }

    .mobile_nav {
      display: block;
      position: absolute;
      top: 10px;
      right: 20px
    }

    .mobile_nav i {
      font-size: 22px;
      color: #151212
    }

    .menus > ul {
      display: none;
      padding-top: 10px
    }
    .header .nav .menus.signin ul li.drop-down-menu .dropdown-content {
      left: 0;
      top: 25px;
    }

    .header .nav .menus {
      float: none
    }

    .header .nav .search_icon {
      float: none;
      position: absolute;
      right: 60px;
      top: 8px
    }

    .header .nav .menus ul li {
      display: block;
      margin-left: 0;
      padding: 2px 0;
      border-bottom: 1px solid #ddd
    }

    .banner_txt h2 {
      font-size: 32px
    }

    .client_slider ul li a img {
      max-width: 160px
    }

    .client_slider ul li a {
      margin-bottom: 15px
    }

    .banner_footer span {
      font-size: 16px
    }

    .cols .col {
      margin-left: 10%;
      margin-right: 10%
    }

    .signup .left_signup {
      width: auto;
      float: none
    }

    .signup .left_signup .left_thumnail {
      float: none;
      padding-right: 0;
      text-align: center;
      margin-bottom: 20px
    }

    .signup .left_signup .desc {
      width: 100%;
      padding-left: 0
    }

    .signup {
      padding: 20px
    }

    .signup .right_signup {
      float: none;
      width: auto;
      margin-top: 20px
    }

    .signup .right_signup a.signup_btn {
      margin: 0 auto;
      float: none !important
    }

    footer {
      padding: 20px 0
    }

    .cols4 .cols {
      width: 47%
    }

    .header .nav .menus ul li.parter_menu a {
      border-radius: 60px;
      padding: 8px 50px;
      border: none;
      color: #1CA8DD;
      font-weight: 500;
      text-transform: uppercase
    }

    .benefits {
      padding: 40px;
      margin-left: 0 !important;
      margin-right: 0 !important
    }
  }
  @media (max-width: 480px) {
    .featured_box, .footer_block ul {
      min-height: inherit
    }

    .system_block .system_artical ul li {
      width: auto;
      float: none;
      margin-left: 0
    }

    footer .cols4 .cols {
      width: auto;
      float: none;
      margin-bottom: 30px
    }

    .featured_box {
      text-align: center;
      margin-bottom: 40px;
      width: auto !important;
      float: none !important
    }

    .contact_support ul li {
      display: block;
      margin: 0 20px 30px
    }

    .contact_form .cols2 .cols {
      width: auto;
      float: none;
      margin-left: 2%
    }

    .partner_section .title {
      padding: 20px;
      margin-bottom: 0
    }
  }
}
